<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Welcome to AskME!</h3>
                            <label for="inputEmail">User Name</label>
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                    required autofocus [(ngModel)]="userName">
                                
                            </div>
                            <label for="inputPassword">Password</label>
                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                    required [(ngModel)]="password">
                                
                            </div>

                            <button (click)="loginToApp()"
                                class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                type="submit">Sign in</button>
                            <div class="text-center" class="error-message" *ngIf="errorMessage">
                                {{errorMessage}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>