<h5 class="card-header">Categories</h5>
<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
                <li>
                    <a [ngClass]="currentTag == ''? 'active-link' : 'inactive-link'"  (click)="selectedTag('')">All</a>
                </li>
                <li>
                    <a [ngClass]="currentTag == 'science'? 'active-link' : 'inactive-link'" (click)="selectedTag('science')">Science</a>
                </li>
                <li>
                    <a [ngClass]="currentTag == 'history'? 'active-link' : 'inactive-link'" (click)="selectedTag('history')">History</a>
                </li>
                <li>
                    <a [ngClass]="currentTag == 'politics'? 'active-link' : 'inactive-link'" (click)="selectedTag('politics')">Politics</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
                <li>
                    <a [ngClass]="currentTag == 'literature'? 'active-link' : 'inactive-link'" (click)="selectedTag('literature')">Literature</a>
                </li>
                <li>
                    <a [ngClass]="currentTag == 'socialLife'? 'active-link' : 'inactive-link'"(click)="selectedTag('socialLife')">Social Life</a>
                </li>
                <li>
                    <a [ngClass]="currentTag == 'arts'? 'active-link' : 'inactive-link'" (click)="selectedTag('arts')">Arts</a>
                </li>
            </ul>
        </div>
    </div>
</div>