.input-group{
    padding:10px;
}

.answers-comment-section{
    padding-left: 20px;
}

.question-tag{
    margin-left: 2px;
    margin-right: 2px;
    padding: 1px;
    background-color: bisque;
    border-radius: 5px;
}

.all-tags{
    margin-left: 10px;
}